/.vs/Smd/v15/*.suo
/src/Wtl.Web.Mvc/bin
/src/Wtl.Web.Host/bin
/src/Wtl.Web.Core/bin
/src/Wtl.EntityFramework/bin
/src/Wtl.Core/bin
/src/Wtl.Application/bin
/src/Wtl.Web.Core/obj
/src/Wtl.Application/obj
/src/Wtl.EntityFramework/obj
/src/Wtl.Web.Host/obj
/src/Wtl.Web.Mvc/obj
/src/Wtl.Core/obj
/packages
/.vs/Smd/v15/Server/sqlite3/db.lock
/.vs/Smd/v15/Server/sqlite3/storage.ide
/.vs/Smd/v15/Server/sqlite3/storage.ide-shm
/.vs/Smd/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
